In [1]:
print("hello world")

hello world

In [2]:
# hello this is a comment, cannot be read by python interpeter

In [3]:
Name = "Ayan Suvra Bosu"
Age = 18
Name1 = "sourish sanyal"
Age1 = 69
#camel case
userName = "Kutta"
#pascal case
UserName = "Gadha"
#snake case
user_name = "Ghora"

In [4]:
print(type(Name), type(Age))

<class 'str'> <class 'int'>

In [5]:
a = 3.14
print(type(a))

<class 'float'>

In [6]:
b = 22/7
print(type(b))

<class 'float'>

In [7]:
c = 44/0
print(type(c))

ZeroDivisionError: division by zero

In [8]:
com = 3+4j
print(type(com))

<class 'complex'>

In [9]:
abc = "18"
bc = 18
print(type(abc), type(bc))

<class 'str'> <class 'int'>

In [10]:
t = True
print(type(t))

<class 'bool'>

In [11]:
x = "A"
print(ord(x))

65

In [13]:
print(chr(65))

A

In [14]:
print(abc[0])

1

In [15]:
print(abc[-1])

8

In [16]:
print(Name[6:11:1])

uvra

In [17]:
print(Name[5:11:1])

Suvra

In [18]:
print(int(Name))

ValueError: invalid literal for int() with base 10: 'Ayan Suvra Bosu'

In [19]:
print(int(Name[0]))

ValueError: invalid literal for int() with base 10: 'A'

In [23]:
y = "12"
y = int(y)
print(type(y))

<class 'int'>

In [24]:
y = str(y)
print(type(y))

<class 'str'>

In [25]:
print(y)

12

In [26]:
y = bool(343)
print(y)

True

In [27]:
y = bool(0)
print(y)

False

In [28]:
let = True
print(let)

True

In [29]:
print(int(let))

1

In [30]:
print("Hello, my name is", Name,", how can i assist you today")

Hello, my name is Ayan Suvra Bosu , how can i assist you today

In [32]:
print(f"hello my name is {Name}, how can i assist you today.")

hello my name is Ayan Suvra Bosu, how can i assist you today.

In [34]:
name = input("your name : ")
print(f"your name is {name}")

your name :  Ayan

your name is Ayan

In [37]:
age = int(input("Enter your age : "))
print(f"your age is {age}")

Enter your age :  15

your age is 15

In [38]:
print(type(4/5), type(4//5))

<class 'float'> <class 'int'>

In [39]:
print(5**3)

125

In [40]:
a = 5
a **= 3
print(a)

125

In [42]:
print("ava" == "ava")

True

In [43]:
print("aav" == "ava")

False

In [44]:
print("a" == 65)

False

In [45]:
print(int(a))

125

In [48]:
print(ord('a'))

97

In [51]:
print(ord("a") == 97)

True

In [52]:
print(not 12 ==12)

False

In [54]:
print(True and False)

False

In [58]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
if a>b:
    print(f"{a} is greater")
else:
    print(f"{b} is greater")

Enter a :  95
Enter b :  66

95 is greater

In [61]:
a = int(input("number :"))

number : 3

In [63]:
gender = str(input("enter you gender : "))
if gender == "m":
    print("hello, sir")
elif gender == "f":
    print("hello mam")
else:
    print("hello trans")

enter you gender :  t

hello trans

In [64]:
name = str(input("enter your name : "))
age = int(input("enter your age : "))
if age>=18:
    print(f"{name} is eligible for voter id")
else:
    print(f"{name} is not eligible")

enter your name :  ayan
enter your age :  18

ayan is eligible for voter id

In [67]:
num = int(input("enter number"))
if num>10:
    print("greater than 10")
else:
    print("not greater than 10")

enter number 959

greater than 10

In [68]:
for i in range(1,4):
    print(i )

1
2
3

In [69]:
A = "Sourish Anal"
for i in range(0, 7):
    print(A[i])

S
o
u
r
i
s
h

In [70]:
for i in range(len(A)):
    print(A[i])

S
o
u
r
i
s
h

A
n
a
l

In [72]:
for i in A:
    print(i)

S
o
u
r
i
s
h

A
n
a
l

In [74]:
i = 0
j = 3
while j>i:
    print(i)
    i+=1

0
1
2

In [76]:
def greet(name):
    print(f"welcome {name}, good morning")

greet("ayan")

welcome ayan, good morning

In [2]:
def sum(a, b):
    return a+b;
print(sum(1,4))

5

SyntaxError: invalid syntax (3120484020.py, line 1)

In [12]:
fruits = ["apple", "banana", "watermelon", "pumpkin"]
for i in range(0,4):
    print(fruits[i])

apple
banana
watermelon
pumpkin

In [13]:
fruits.append("oranges")
for i in fruits:
    print(i)

apple
banana
watermelon
pumpkin
oranges

In [15]:
fruits.remove("banana")
fruits.insert(3, "banana")
for i in fruits:
    print(i)

apple
watermelon
pumpkin
banana
oranges

In [18]:
fruits.remove("pumpkin")
fruits.extend(["mango","amla", "pumpkin"])
for i in fruits:
    print(i)

apple
watermelon
banana
oranges
mango
amla
mango
amla
pumpkin

In [19]:
print(fruits[5])

amla

In [20]:
A = fruits.pop(0)
print(A)

apple

In [21]:
print(fruits[0])

watermelon

In [26]:
index = fruits.index("amla")
print(index)

4

In [27]:
fruits.sort()
for i in fruits:
    print(i)

amla
amla
banana
mango
mango
oranges
pumpkin
watermelon

In [28]:
tuple = ("ayan", 33, "not a name")
print(tuple)

('ayan', 33, 'not a name')

In [29]:
A = {1,2,3}
B = {3,4,5}
Union = A.union(B)
Intersection = A.intersection(B)
Difference = A.difference(B)
SymmetricDifference = A.symmetric_difference(B)
print(Union, Intersection, Difference, SymmetricDifference)

{1, 2, 3, 4, 5} {3} {1, 2} {1, 2, 4, 5}

In [30]:
D = {"name" : "Ayan", "age" : 18}
print(D["name"])

Ayan

In [35]:
x = {1:34, 2:36, 3:99, 4:69}
print(x[4])

69

In [37]:
for i in x:
    print(i,":",x[i])

1 : 34
2 : 36
3 : 99
4 : 69

In [38]:
for i in x:
    print(i)

1
2
3
4

In [39]:
print("End")

End

In [1]:
a = 3; b =3 ; print(a+b)

6

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
range(0, 8)

range(0, 8)

In [9]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
a = 3;b = 3
print("sum : ", a+b)

sum :  6

In [3]:
def swap(a, b):
    return b,a

x=3; y=4
print(swap(x,y))

(4, 3)

In [4]:
print(x)

3